*
{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    
    background-image: url("netflix-error-22004-2.jpg");
    height: 870px;
    background-repeat: no-repeat;
}
.nav-bar
{
    height: 80px;
}
.nav-bar::before
{
    content:"";
    position: absolute;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
    height: 870px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:1;
}
.logo
{  
    background-image: url("pngwing.com.png");
    background-size: cover;
    height: 53px;
    width: 160px;
    margin-left: 155px;
    margin-top: 18px;
    position: relative;
    z-index:2;
}
.logo:hover
{
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
}
.center-content 
{
  height: 710px;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.7);  /* Black with opacity */
  position: relative;
  z-index: 3;
  margin: 0 auto;  /* Center horizontally */
  display: flex;
  border-radius: 2px;  /* Optional rounded corners */
  color: white;  /* For text visibility */
  text-align: center;
  flex-direction: column;
  border-radius: 10px;
}
.box1
{
    padding-left: 15px;
     background-color: rgba(0, 0, 0, 0.4);
     height: 55px;
     width:337px;
     border: 0.2px solid rgb(235, 232, 232);
     border-radius: 4px;
     margin-top: 30px;
}
.box2
{
    padding-left: 15px;
     margin-top: 18px;
     background-color: rgba(0, 0, 0, 0.4);
     height: 55px;
     width:337px;
     border: 0.2px solid rgb(235, 232, 232);
     border-radius: 4px;
}
.sign-in
{
    display: flex;
    justify-content: start;
    margin-top: 50px;
    margin-left: 70px;
}
.but-sign
{
     margin-top: 18px;
     margin-left:75px;
     height: 40px;
     width:352px;
     border: 0.1px solid #fa0a12;
     border-radius: 4px;
     background-color:#fa0a12;
     font-size: medium;
     color: white;
}
.or
{
    margin-top: 18px;
    color: white;
    font-size: 15px;
    font-weight: 500;
}
.sign-in-code
{
    margin-top: 18px;
    margin-left: 75px;
    margin-bottom: 18px;
    height: 40px;
    width:352px;
    border: 0.1px solid rgba(255, 255, 255, 0.308);
    border-radius: 4px;
    background-color:rgba(255, 255, 255, 0.15);
    font-size: medium;
    color: white;
}
.password
{ 
    margin-left: 18px;
    color: white;
    font-size: 15px;
    text-decoration: underline;
}
.password:hover
{
    color: deepskyblue;
}
.rememberme
{
    margin-right: 217px;
    margin-top: 20px;
    color: white;
}
.rememberme input[type="checkbox"]
{
    margin-right: 5px;
}
.new
{
   text-decoration: underline;
    color: white;
}
.new:hover
{
    color:rgb(36, 139, 236);
    text-decoration: none;
}
.new1
{
    
    margin-left: 20px;
    margin-top: 20px;
    color: white;
    font-size: 13px;
}
.new2
{
   padding: 0px 10px 0px 10px;
    margin-left: 20px;
    margin-top: 20px;
    color: white;
    font-size: 13px;
    margin-bottom: 20px;
    
}
.learn-more
{
    margin-top: 2px;
    color: white;
    font-size: 13px;
    text-decoration: underline;
}
.learn-more:hover
{
    color:rgb(36, 139, 236);
    text-decoration: none;
}
.footer-content
{
    display: flex;
    flex-direction: column;
    margin-top: 62px;
    height: 300px;
    width: 100%;
    background-color: rgb(22, 22, 22) ;
}  
.question
{   position: absolute;
    top:950px;
    left: 110px;
    font-size: 16px;
    color: rgb(177, 177, 177);
    margin-bottom: 0;
}
.footer-links
{
    display: flex;
    justify-content:space-evenly;
    padding-top: 140px;
    font-size: 16px;

}

.footer-links a
{
    color: rgb(177, 177, 177);
    text-decoration: underline;
}
.footer-links a:hover
{
    color: rgb(36, 139, 236);
    text-decoration: none;
}
.language-select
{
    height: 40px;
    width: 200px;
    border: 0.1px solid rgb(235, 232, 232);
    border-radius: 4px; 
    margin-top: 40px;
    margin-left: 110px ;
    background-color: rgba(80, 80, 80, 0.199);
    color: rgb(177, 177, 177);
    border: none;
    font-size: 16px;
    padding: 5px;
}